<section id="categories">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Названия</th>
        <th>Категория Родитель</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each_with_index do |category, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= category.name %></td>
          <td><%= category.parent.name if category.parent.present? %></td>
          <td>
            <%= link_to 'Показать', category %>
            <%= link_to 'Изменить', edit_category_path(category) %>
            <%= link_to 'Удалить', category, method: :delete, data: { confirm: "Вы уверены?" }  %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table> 
</section>

<%= link_to 'Новая категория', new_category_path %>
